/** width and height values includes the padding and border size **/
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
  }

body
{ height:100%;
  margin: 0; padding: 0; color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  background: #d2e3f1;
}

a:link {color: #fff;}
a:hover {color: #070707;text-decoration:underline;}
a:visited {color: #550f92;}
h1 {color: #071774; font-size: 2.2em;}
h4 {color: #133d58; font-size: 1.0em;}

/**************/
/*** Header ***/
/**************/
.header {color: #20357a; background-color: #4c84d8; border-bottom: 2px solid #1529db;
         overflow: auto;
         position: fixed; /* Set the navbar to fixed position */
         top: 0; /* Position the navbar at the top of the page */
         width: 100%; /* Full width */}
.titles-logo{padding: 10px 10px 0px 10px;}
.titles{color:#fff; display:inline-block;background: #4c84d8; font-size: 16px;}
.titles h1 {display: block; margin: 0 0 5px 0;}
.titles h4 {color: #0e2d94; margin: 10px 0 5px 0; padding-left: 4px;}
.logo {color:#fff; float:right;}
.logo img {border: 4px solid #1529db; max-width: 100%; height: auto; border-radius: 180px;}

/********************/
/*** Page Content ***/
/********************/
h2 {text-align: center;}

.flex-container{
  /* make the footer a sticky footer staying at the bottom of the page*/
    min-height: 100%;
    height: auto !important; /* browser compatibility */
    height: 100%;
    margin: 0 auto -100px; /* the px amount is the footer fixed height */
  /* footer has a fixed height of 100px*/
    margin-top: 112px;   /* previous element (header) is position: fixed */
                         /* add a top margin to avoid content overlay */
    margin-bottom: 20px;
    background: #d2e3f1;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-box-align : center;
     }

.title-container { width:97.70%;max-width: 600px;
                  background: #7ea1c2;
                  box-shadow: 5px 5px 5px #3d6175;
                  margin: 25px 5px 5px 5px;
                 }
.title-container h1 {color: #071774; text-align: center;}


.form-container {
             background-color: #bfd7ec;
             box-shadow: 5px 5px 5px #97b8d3;
             margin: 5px 5px 35px 5px;
    }

.form-contact {
    max-width: 600px;
    margin:0 auto;
    text-align:left;
    padding: 10px;
    overflow:auto;
}
.field {
    font-size: 1.1em;
    width:100%;
    height:30px;
}

.form-text {
    font-size: 1.5em;
    width:100%;
}

.f-border {
    border: 3px solid #a2b0d6;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.f-border:focus{border: 3px solid #3e61c4;}

.button-container {
    padding: 0 0 20px;
    max-width: 600px;
    margin: 0 auto;
}

.button {border: 2px solid #0000ff;
    color: #fff;
    width:100px;
    font-size:1.0em;
    font-weight:bold;
    background-color:#3fa5be;
    padding:4px 0;
    cursor: pointer;
}
.button:hover{
    background-color:#0f6f9b;
}

.star {color: #ff0000;}

.privacy a {color: #60799e;}
.privacy a:hover {color: #2699b6;}

.agree {
    font-size:  1.0rem;
}
.checkbox {
    height: 25px;
    width: 25px;
    vertical-align: middle;
    margin: 0;
    cursor: pointer;
}

.close-button {
    color: white;
    text-decoration: underline;
    position: fixed;
    right: 12px;
    bottom: 10px;
    background-color: rgba(63, 165, 190, 0.329);;
    padding: 12px;
    -moz-border-radius: 180px;
    -webkit-border-radius: 180px;
    border-radius: 180px;
    border: 2px solid #0000ff;}
.close-button:hover {background-color: #0f6f9b;}
.close-button a {font-size: 14px; color: #ffffff;}
.close-button a:hover {color:#fff;}

/* used by message-sent page */
.confirm {
    font-size: 1.2em;
    padding: 12px;
    text-align: center;
	  font-family: Arial, Helvetica, sans-serif;
}

/**************/
/*** Footer ***/
/**************/
/* make the footer a sticky footer staying at the bottom of the page*/
/* use a push div to push footer at bottom of the page */
#push {
   height: 400px; /* give an offset to push the footer down */
}
.flex-footer {
  height: 100px; /* this is the footer fixed height */
  font-size: 82%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-items: stretch;
  border-top: 2px solid #1529db; background-color: #4c84d8; color:#fff;}

.flex-footer__ele {-webkit-box-flex: 1;
                   -ms-flex: 1 1 333px;
                   flex: 1 1 333px;
                   -webkit-flex: 1 1 333px;
                   max-width:1920px; background-color: #4c84d8; padding:12px;}

.footer-column {display:block; float: left;}

/******************************************/
/************** MEDIA QUERIES *************/
/******************************************/
/** for really small screens remove the logo **/
@media (max-width: 356px){
.logo {display: none;}
} /** close @media - really small screen **/
